<div *ngIf="!isLoading">
    <mat-card>
        <mat-card-header>
            <span class="mat-headline-5">Login</span>
        </mat-card-header>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-card-content>
                <mat-form-field>
                    <mat-label for="email">Email</mat-label>
                    <input type="email" id="email" formControlName="email" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label for="password">Password</mat-label>
                    <input type="password" id="password" formControlName="password" matInput>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions>
                <span class="spacer"></span>
                <button type="submit" mat-flat-button color="primary">Login</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>

<div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>