<div *ngIf="!isLoading" class="card">
    <!-- Form -->
    <div class="note-form">
        <form [formGroup]="noteForm" (ngSubmit)="submit()">
            <div>
                <input type="text" id="title" formControlName="title">
            </div>

            <div>
                <input type="text" id="body" formControlName="body">
            </div>

            <div>
                <app-file-upload (newItemEvent)="onFileSelected($event)"></app-file-upload>
            </div>

            <div>
                <button type="submit">Create Note</button>
            </div>
        </form>
    </div>
</div>

<!-- Loading -->
<div *ngIf="isLoading">
    creating note ...
</div>