input {
    width: 100%;
    height: 100%;

    padding: 1em;
    
    margin-bottom: 2em;
 
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;

    font-size: large;

    :focus{
        border-color: red;
    }
}

.note-form{

    margin-bottom: 5em;
}