<div class="card">
    <!-- header -->
    <div *ngIf="note?.['attachment']" class="attachment">
        <img src="{{baseUrl}}/api/files/{{note?.['collectionId']}}/{{note?.['id']}}/{{note?.['attachment']}}?thumb=0x200"
            alt="{{note?.['attachment']}}">
    </div>
    <div class="header">
        <h2>{{note?.['title']}}</h2>
    </div>

    <!-- body -->
    <div class="body">{{note?.['body']}}</div>

    <!-- footer -->
    <div class="footer">
        <button (click)="delete(note!.id)">delete</button>
    </div>
</div>